.footer-conatiner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}
.footer-logo{
    grid-column: span 2; 
    justify-self: start;
}
.footer-logo img{
    max-width: 15rem;
    padding-left: 1rem;
}
.footer-link-company, .footer-link-gethelp, .footer-link-sociliaze{
    text-align: left;
}
.footer-link-company h6, .footer-link-gethelp h6, .footer-link-sociliaze h6{
    font-weight: 800;
}
.footer-link-company p, .footer-link-gethelp p, .footer-link-sociliaze p{
    color: rgb(78, 78, 78);
    font-size: 15px;
    cursor: pointer;
}
.footer-link-sociliaze img{
    max-width: 2.5rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .footer-conatiner{
        padding: 1rem;
        gap: 2rem;
    }
    .footer-link-company, .footer-link-gethelp, .footer-link-sociliaze{
        padding-left: 25px;
    }
    
}