.whoisinternee-container{
    padding: 30px;
}
.icon{
   
}
.icon img{
    max-width: 5rem;
    box-shadow: 12px 12px 10px rgb(189, 189, 189);
}
.internee h1{
    font-family: var(--font);
    margin-top: 20px;
    font-weight: 700;
}
.internee-text{
    max-width: 690px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:unset;
}
.internee-text p{
    font-family: var(--font);
    margin: 0;
    color: gray;
    font-size: 19px;
}
.internee-link p{
    font-family: var(--font);
    margin-top: 1rem;
    color: var(--green);
    font-size: 20px;
    font-weight: 700;
    text-decoration:underline;
}
